*{
    box-sizing: border-box;
}
.container{
    position: absolute;
    width:600px;
    height:400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    box-shadow:  2px 2px 3px rgba(0,0,0,0.3),
                 0px 5px 6px rgba(0,0,0,0.9);
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0,0,0,0.3);
}
#head{
    text-align: center;
    margin-left: 20px;
    color:black;
     font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    padding: 10px;
    top: 91px;

}
#change{
    text-align: center;
    position: relative;
    top:69%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:100px;
    height:40px;
    border-radius: 4px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgb(38, 202, 38);
     outline: none;
     cursor: pointer;
    border: none;
    box-shadow:  2px 2px 3px rgba(0,0,0,0.3),
    0px 5px 6px rgba(0,0,0,0.6);
    color:white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3),
    0px 5px 6px rgba(0,0,0,0.9);
    
}
#change:hover{
    background-color: rgb(85, 235, 93);

}
@media screen and (max-width:619px){
    .container {
        position: absolute;
        width: 525px;
        height: 550px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 8px;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0px 5px 6px rgba(0,0,0,0.9);
    }
    #head{
        text-align: center;
        margin-left: 20px;
        color:black;
         font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        padding: 10px;
        top: 91px;
    
    }

}
@media screen and (max-width:542px){
    .container {
        position: absolute;
        width: 399px;
        height: 550px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 8px;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0px 5px 6px rgba(0,0,0,0.9);
    }
    #head{
        text-align: center;
        margin-left: 20px;
        color:black;
         font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        padding: 10px;
        top: 91px;
    
    }

    
}
@media screen and (max-width:406px){
    .container {
        position: absolute;
        width: 338px;
        height: 550px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 8px;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0px 5px 6px rgba(0,0,0,0.9);
    }
    #head{
        text-align: center;
        margin-left: 20px;
        color:black;
         font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        padding: 10px;
        top: 91px;
    
    }

    
}
